body {
  background: rgb(248,248,248);
}

.container {
  width: 100%;
  max-width: 1320px;
}

.navbar {
  text-align: center;
  border-bottom: 0;
  margin-bottom: 0;
}

#navbar-top {
  background: red;
  color: white;
  height: 100px;
}

#navbar-top h1 {
  display: inline-block;
  font-size: 70px;
  font-weight: bolder;
  margin-top: 10px;
}

#navbar-bottom {
  background: white;
  border-bottom: 2px solid rgba(225,225,225,0.5);
}

.navbar-action {
  position: relative;
  top: 50px;
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  margin: 5px;
}

#navbar-date {
  color: rgba(255,255,255,0.7);
}

#navbar-subscribe {
  padding: 5px 10px;
  background: white;
  color: red;
  margin: 0 3px;
}

#navbar-bottom li a {
  color: black;
  font-weight: bold;
  font-size: 22px;
  border-right: 1px solid rgba(0,0,0,0.1);
  padding: 5px 15px;
  margin: 10px auto;
}

#navbar-narrow {
  margin: 0;
  display: none;
  position: fixed;
  top: 0;
  font-weight: bold;
  width: 100%;
  height: 70px;
  overflow: hidden;
  min-width: 250px;
  z-index: 3;
}

#navbar-narrow a {
  text-decoration: none;
  font-size: 13px;
  margin: 5px;
}

#navbar-narrow #narrow-left {
  grid-area: a;
  background: black;
  height: 100%;
}

#navbar-narrow #edition {
  color: white;
  float: left;
  margin-left: 10px;
}

#navbar-narrow #signin-narrow {
  color: white;
  float: right;
}

#navbar-narrow #narrow-right {
  grid-area: b;
  background: white;
  height: 100%;
}

#navbar-narrow #narrow-right a {
  color: red;
  letter-spacing: -1px;
  margin: 5px;
  position: relative;
  top: 5px;
}

#navbar-narrow #narrow-bottom {
  grid-area: c;
  background: red; 
  height: 100%;
}

#navbar-narrow #narrow-bottom a {
  float: left;
  font-size: 27px;
  color: white;
  margin-left: 10px;
  margin-top: 0;
}

.main-content {
  background: white;
  padding-bottom: 30px;
}

.main-content img {
  width: 100%;
  height: auto;
}

.main-content .title {
  font-size: 20px;
  font-weight: bold;
}

article {
  border-bottom: 1px solid rgba(0,0,0,0.1);
  min-height: 140px;
  margin: 5px 0;
  width: 100%;
}

.main-content .small-article {
  height: 140px;
}

.main-content .small-article .title {
  font-size: 16px;
}

.main-content .small-article img {
  width: 30%;
  float: left;
  margin-right: 10px;
  max-width: 200px;
}

.main-content .smaller-article img {
  width: 40%;
  max-width: 200px;
  float: left;
  margin-right: 3px;
}

.main-content .smaller-article .title {
  font-size: 16px;
}

@media only screen and (max-width: 960px) {
  
  #navbar-top {
    display: none;
  }

  #navbar-bottom {
    display: none !important;
  }

  #navbar-narrow {
    display: grid;
    grid-template-areas:
                  "a b"
                  "c c";
    grid-template-rows: 1fr 1fr ;
    grid-template-columns:9fr 1fr;
  }

  .main-content {
    margin-top: 30px;
  }

}